snippet html "Base VueJS template" b
<template>
  <div id="$1">
    <h2>$1</h2>
  <div>
</template>

<script>
export default {
  name: '$1',
  data: () => ({
	}),
};
</script>

<style lang="scss"></style>
endsnippet


